.navigation__element {
  width: 35rem;
  position: relative;
  transition: all 0.2s linear;
  font-family: var(--font-secondary);
  letter-spacing: 2px;
  margin: 1rem;
  transform: skewX(-10deg);
  border-radius: 3rem;

  @media only screen and (max-width: 37.5em) {
    transform: skewX(0);
    width: 100vw;
    margin: 0;
    border-radius: none;
  }

  & > img {
    width: 100%;
    height: 22.5rem;
    cursor: pointer;
    object-fit: cover;
    border-radius: 3rem;
    transition: all 0.2s linear;

    @media only screen and (max-width: 37.5em) {
      height: 50rem;
      border: none;
      border-radius: 0;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(#383838, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    transition: all 0.2s linear;
    @media only screen and (max-width: 37.5em) {
      border-radius: 0;
      border: none;
    }

    & > h3 {
      font-size: 4rem;
      margin: 0;
      padding: 1rem 0.5rem;
      text-transform: uppercase;
      color: var(--color-highlight);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    }

    &:hover {
      background: rgba(#2d2d2d, $alpha: 0.4);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(10px, 10px);
    border: 0;
    border-radius: 3rem;
    z-index: -1;
    transition: all 0.1s linear;
    transition-delay: 0.2s;
    border: 0 solid rgba($color: #434343, $alpha: 0.7);

    @media only screen and (max-width: 37.5em) {
      display: none;
    }
  }

  &:hover {
    transform: translate(-10px, -10px) skewX(-10deg);

    @media only screen and (max-width: 37.5em) {
      transform: translate(0) skewX(0);
    }

    & > img {
      -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4);
    }

    &::before {
      border: 3px solid rgba($color: #434343, $alpha: 0.7);
    }
  }
}
