.footer {
  grid-column: 1/-1;
  display: grid;
  border-top: 1px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-white);

  &__button {
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-primary-light);
    font-size: 1.4rem;
    letter-spacing: 1.4px;
    padding: 1rem;
    border-bottom: 1px solid var(--color-primary-light);

    &:hover {
      background-color: var(--color-highlight);
      color: var(--color-primary-dark);
    }
  }

  &-content {
    padding: 0 5rem 0 5rem;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 31.25em) {
      padding: 0.5rem;
    }

    &__follow {
      margin: 1rem;
      & > h5 {
        font-size: 1.6rem;
        margin: 0;
        font-weight: bold;
      }
      & > ul {
        list-style: none;
        padding: 0;

        & > li {
          margin: 1rem 0 1rem 0;
          & > a {
            color: var(--color-white);
            text-decoration: none;
            font-size: 1.2rem;

            &:hover {
              color: var(--color-highlight);
            }
          }
        }
      }
    }

    &__payments {
      margin: 1rem;
      & > h5 {
        font-size: 1.6rem;
        margin: 0;
        font-weight: bold;
      }
      & > ul {
        list-style: none;
        padding: 0;

        & > li {
          margin: 1rem 0 1rem 0;
          & > a {
            color: var(--color-white);
            text-decoration: none;
            font-size: 1.2rem;
            &:hover {
              color: var(--color-highlight);
            }
          }
        }
      }
    }
  }

  &-logo {
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    & img {
      width: 100%;
    }
  }
  &-copy {
    margin-top: 1rem;
    background-color: var(--color-highlight);
    color: var(--color-primary-dark);
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    &__actions {
      @media only screen and(max-width:31.25em) {
        display: grid;
        padding: 0;
      }
      & > a {
        cursor: pointer;
        background: none;
        text-decoration: none;
        margin: 0 1rem 0 1rem;
        outline: none;
        border: none;
        color: inherit;

        @media only screen and (max-width: 31.25em) {
          margin: 0;
        }
      }
    }
  }
}
