.menu {
  border-radius: 0.2rem;
  margin: 0;
  position: absolute;
  left: -30rem;
  height: 100vh;
  transition: all 0.2s;
  z-index: 15;
  background: var(--color-primary-dark);
  color: var(--color-highlight);
  padding: 0;
  top: 0;

  & > button {
    font-size: 3rem;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-highlight);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  & > h3 {
    font-size: 2rem;
    margin: 3rem;
  }

  & ul {
    margin-top: 3rem;
    list-style: none;
    font-size: 1.4rem;
    padding: 0 0.2rem 0 0.2rem;

    & a {
      text-decoration: none;
      color: var(--color-hightlight);
    }

    & li {
      cursor: pointer;
      padding: 0.5rem 2rem 0.5rem 2rem;
      margin: 0.75rem;

      &:hover {
        background-color: var(--color-highlight);
        color: var(--color-primary-dark);
      }
    }
  }
}

.menu-active {
  left: 0rem;
  z-index: 100;
  position: fixed;
}
