.wrapper {
  width: 100%;
  background: var(--color-primary);
}

.intro {
  z-index: 5;
  width: 100%;
  // height: 100vh;
  display: flex;
  background: var(--color-primary);
  align-items: center;
  flex-direction: column;

  &__svg {
    height: 100vh;
    width: 100%;
    background: var(--color-white);
    position: absolute;
    & > svg {
      position: absolute;
      bottom: 0;
    }
  }

  & > .header {
    font-size: 4rem;
    margin: 2rem 0;
    color: var(--color-primary);
    font-family: var(--font-header);
    cursor: default;
    z-index: 2;

    @media only screen and (max-width: 37.5em) {
      background: var(--color-primary);
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 0.5rem 0 3rem 0;
      color: var(--color-white);
    }
  }

  .navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    // background: rgba(#fff, $alpha: 0.75);
    border-radius: 1rem;
    z-index: 2;
    margin: 0 0 5rem 0;

    @media only screen and (max-width: 37.5em) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
